<!DOCTYPE html>
<html>
  <head>
    <title>Twtapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
    <p>Twitter Clone App</p>
  </header>
</footer>
  <body>
    <%= yield %>
  </body>
<footer>
	<p>Copyright &copy; 2020 DIC.</p>
</html>
